body {
  font-family: Arial, sans-serif;
  font-weight: bold;
  background-color: #f7f7f7;
  margin: 0;
  padding: 2rem;
  color: lightcoral;
}

h1 {
  text-align: center;
  color: darkred;
  margin-bottom: 1.5rem;
}

#display-content {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 3px 5px gray;
  max-width: 800px;
  margin: 0 auto;
}

#display-content li span:nth-child(-n + 2)::after {
  content: "-";
}

.event {
  border-bottom: 1px solid gray;
  padding: 1rem;
}

.event-title {
  font-weight: bold;
  color: #34495e;
}
